<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceei.report.mapper.ReportTodoMapper">

    <select id="selectTodoCondition" resultType="com.ceei.report.entity.ReportTodo" parameterType="com.ceei.report.vo.ReportTodoQV2">
        SELECT * FROM cp_report_todo where todo_id in (SELECT MIN(todo_id)  FROM cp_report_todo where employee_id=#{employeeId} GROUP BY report_id)
        <if test="startDeadline!=null and endDeadline!=null">
                and deadline between #{startDeadline} and #{endDeadline}
        </if>
        <if test="startReportDate!=null and endReportDate!=null">
            and report_date between #{startReportDate} and #{endReportDate}
        </if>

        <if test="reportTitle!=null">
            and report_title like "%${reportTitle}%"
        </if>
        limit #{begin},#{pageSize}
    </select>

</mapper>
